.boxcenter{
    width: 70%;
    margin: 0 auto;
    font-family: Arial;
}
.row{
    float: left;
    width: 100%;

}
header{
    background-image: url("./Anh trang chu/BANNER VIEC LAM VIP.png");
    min-height: 300px;
    

}
header>img{
    border-radius: 5px;
    width: 181px;
    height: 33px;
}
nav{
  
    background-color: black;
    min-height: 40px;
    border-radius: 5px;

}
nav>a{
    color: white;
    padding: 5px;
}
article{
    
    float: left;
    width: 70%;
    background-color: rgb(190, 190, 190);
    min-height: 400px;
    border-radius: 5px;
}
article>a>img{
    width: 150px;
    height: 100px;
    border-radius: 5px;

}
article>b{
    font-size: 30px;
}
aside{
    float: left;
    width: 30%;
    min-height: 400px;
    background-color: rgb(255, 109, 109);
}
aside>p>img{
    width: 100px;
    height: 100px;
}
footer{
    border-radius: 5px;
    background-color: black;
    min-height: 60px;
    font-family: Arial;
}
footer>img{
    width: 181px;
    height: 33px;
}
footer>p{
    color: white;
    font-size: 10px;
}
footer>a{
    float: right;
    color: white;
    padding: 5px;
  
    
}
.form-group{
    margin: 10px 0px;
} 
.form-control{
    width: 95%;
    padding: 5px;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
}
.form-group label{
    font-weight: bold;
    font-variant: small-caps;
}
.form-control:focus{
    background-color: yellow;
    box-shadow: 0 0 3 px red;
    border: 1px solid yellow;
} 
.form-button{
    padding: 8px 30px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    background-color: white;
    color: orangered;
    box-shadow: inset 0 0 20px blue;
} 
.form-button:hover{
    color: blue;
    box-shadow: inset 0 0 20px orangered;
}
.form-button:disabled{
    color: darkgray;
    box-shadow: inset 0 0 20px gray;
}